@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/modal';

.main-title {
  margin-bottom: 32px;
  font-size: 24px;
  width: 100%;
}

.go-back {
  display: block;
  margin-bottom: 32px;
  font-size: 18px;
  color: #10212e;

  &:hover, &:focus, &:active {
    color: #10212e;
    text-decoration: underline;
  }
}
